<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ua.test.rcp.zabara.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ua.test.rcp.zabara.Perspective"
            name="RCP Perspective"
            id="ua.test.rcp.zabara.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ua.test.rcp.zabara.perspective">
         <view
               closeable="false"
               id="ua.test.rcp.zabara.view.table"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="ua.test.rcp.zabara.view.composite"
               minimized="false"
               relationship="right"
               relative="ua.test.rcp.zabara.view.table"
               showTitle="true"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ua.test.rcp.zabara.CompositePart"
            id="ua.test.rcp.zabara.view.composite"
            name="CompositePart"
            restorable="true">
      </view>
      <view
            class="ua.test.rcp.zabara.TableViewerPart"
            id="ua.test.rcp.zabara.view.table"
            name="TableViewerPart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               tooltip="File">
            <command
                  commandId="ua.test.rcp.zabara.command.exit"
                  label="Quit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Edit"
               tooltip="Edit">
            <command
                  commandId="ua.test.rcp.zabara.command.new"
                  label="New"
                  style="push"
                  tooltip="New">
            </command>
            <command
                  commandId="ua.test.rcp.zabara.command.delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="ua.test.rcp.zabara.command.cancel"
                  label="Cancel"
                  style="push">
            </command>
            <command
                  commandId="ua.test.rcp.zabara.command.save"
                  label="Save"
                  style="push"
                  tooltip="Save">
            </command>
         </menu>
         <menu
               label="Help"
               tooltip="Help">
            <command
                  commandId="ua.test.rcp.zabara.command.about"
                  label="About"
                  style="push"
                  tooltip="About">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ua.test.rcp.zabara.toolbar.new">
         </toolbar>
         <toolbar
               id="ua.test.rcp.zabara.toolbar">
            <command
                  commandId="ua.test.rcp.zabara.command.new"
                  icon="src/icons/new.png"
                  label="New"
                  style="push"
                  tooltip="New">
            </command>
            <command
                  commandId="ua.test.rcp.zabara.command.save"
                  icon="src/icons/save.png"
                  label="Save"
                  style="push"
                  tooltip="Save">
            </command>
            <command
                  commandId="ua.test.rcp.zabara.command.delete"
                  icon="src/icons/delete.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="ua.test.rcp.zabara.command.cancel"
                  icon="src/icons/cancel.png"
                  label="Cancel"
                  style="push"
                  tooltip="Cancel">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ua.test.rcp.zabara.handlers.NewPersonHandler"
            id="ua.test.rcp.zabara.command.new"
            name="New">
      </command>
      <command
            defaultHandler="ua.test.rcp.zabara.handlers.SavePersonHandler"
            id="ua.test.rcp.zabara.command.save"
            name="Save">
      </command>
      <command
            defaultHandler="ua.test.rcp.zabara.handlers.DeletePesonHandler"
            id="ua.test.rcp.zabara.command.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="ua.test.rcp.zabara.handlers.CancelPesonHandler"
            id="ua.test.rcp.zabara.command.cancel"
            name="Cancel">
      </command>
      <command
            defaultHandler="ua.test.rcp.zabara.handlers.ExitAppHandler"
            id="ua.test.rcp.zabara.command.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="ua.test.rcp.zabara.handlers.AboutAppHandler"
            id="ua.test.rcp.zabara.command.about"
            name="About">
      </command>
   </extension>

</plugin>
